

@font-face {
  font-family: 'Ppmori';
  src: url('../font/63e24dbff042c51a7291dc79_PPMori-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Ppmori';
  src: url('../font/63e24dbf7a2260ad9f9e61ad_PPMori-SemiBold.woff2') format('woff2');
  font-weight: 600;
}